node_modules/
.next/

global.d.ts

src/components/icon/
src/assets

postcss.config.js
prettier.config.js
src/reportWebVitals.ts
tailwind.config.ts
package.json

**/*.md

tsconfig.json
tsconfig.eslint.json

next.config.js
i18nConfig.ts